page-signup {

    .danger {
        color: red;
    }


    .cor{
      background: #ffffff;
    }

    .f {
        font-size: 80%;
    }

    .j {
        font-size: 80%;
    }

    .t {
        padding-left: 15px;
        padding-top: 7px;
    }

    .but{
        height: 40px;
        background: #960A0A;
        border: 1px solid rgba(92, 1, 1, 0.2);
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 19px;
        color: #ffffff;
        font-family: Risque;
        font-style: normal;
        font-weight: normal;
    }



}
